@model Twilio31.Models.Contact

<h3>Fill in the form below to create a new contact</h3>

<br>
<br>

@using (Html.BeginForm("Create", "Contacts",  
            FormMethod.Post, new { @class="create-contact-form" }))
{

    @Html.DisplayNameFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.DisplayNameFor(model => model.Number)
    @Html.EditorFor(model => model.Number)

    <input type="submit" />

}

<br>
<br>



<h5 id="val-output"></h5>